/* Write your CSS here */
.container {
  background-color: #93c5fd;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sub-container {
  background-color: #f8fafc;
  height: 40vh;
  width: 35vw;
  border-radius: 8px;
  padding: 30px;
}
.country {
  margin-bottom: 0px;
  font-weight: bold;
  font-size: 20px;
}
.question-container {
  display: flex;
}
.capital-select {
  height: 30px;
  width: 150px;
  margin-top: 18px;
  margin-right: 10px;
  font-weight: bold;
  color: #323f4b;
}
/* .question {
  padding-bottom: 40px;
} */
